.input {
  --padding-block: 0.25rem;
  --padding-inline: 1rem;

  padding: var(--padding-block) var(--padding-inline);
  border: 2px solid var(--base-500);
  border-radius: 6px;
  background-color: var(--base);

  @media (hover) {
    & {
      transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }

    &:hover {
      border-color: color-mix(in srgb, var(--primary) 85%, white);
      background-color: var(--base-700);
    }

    &:focus {
      outline-offset: -2px;
    }
  }
}
