:root {
  --max-width: 1280px;

  --rich-black: #0d1b2a;
  --oxford-blue: #1b263b;
  --yln-blue: #415a77;
  --silver-lake-blue: #778da9;
  --platinum: #e0e1dd;
  --olive-green: #90ac53;
  --fern-green: #7f9847;

  --base: var(--rich-black);
  --base-700: var(--oxford-blue);
  --base-500: var(--yln-blue);
  --base-300: var(--silver-lake-blue);

  --color: var(--platinum);
  --primary: var(--olive-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */
    --rich-black: #0d1b2a;
    --oxford-blue: #1b263b;
    --yln-blue: #415a77;
    --silver-lake-blue: #778da9;
    --platinum: #e0e1dd;
    --olive-green: #90ac53;
    --fern-green: #7f9847;

    --base: var(--rich-black);
    --base-700: var(--oxford-blue);
    --base-500: var(--yln-blue);
    --base-300: var(--silver-lake-blue);

    --color: var(--platinum);
    --primary: var(--olive-green);
  }

  html {
    color-scheme: dark;
  }
}

html {
  /* TODO: add light theme */
  /* color-scheme: dark light; */
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color);
  background: var(--base);

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

@media (hover) {
  *:focus {
    outline: 2px solid var(--color);
  }
}
