.page {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid var(--base-500);
  background-color: var(--base-700);
}

.headerContent {
  margin-inline: auto;
  max-width: var(--max-width);
}

.link {
  color: currentColor;
  text-decoration: none;
}
