.player {
  border: 1px solid transparent;
  border-radius: .5rem;
  display: grid;
  justify-content: center;
  transition: border-color 0.1s ease-in-out;

  &.active {
    background-color: var(--base-700);
    border-color: var(--primary);
  }

  &:not(.active) {
    background-color: var(--base-700);
  }

  &:not(.active):hover {
    border: 1px dashed var(--base-500);
  }
}
