.page {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid var(--base-500);
  background-color: var(--base-700);
}

.mainContent {
  place-content: center;
}

.slogan {
  margin-inline: auto;
  max-width: 768px;
  text-align: center;
}

.action {
  margin-block-start: 2rem;
  text-align: center;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  background-color: var(--primary);
  cursor: pointer;

  @media(hover) {
    & {
      transition: background 0.2s ease-in-out;
    }

    &:active {
      transform: translateY(.5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:active,
    &:focus,
    &:hover {
      background-color: var(--primary-hover);
    }
  }
}

.features {
  margin-block-start: 2rem;
  margin-inline: auto;
  max-width: 768px;
  text-align: center;
}
