.page {
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid var(--base-500);
  background-color: var(--base-700);
}

.headerContent {
  margin-inline: auto;
  max-width: var(--max-width);
}

.main {
  margin-inline: auto;
  max-width: var(--max-width);

  place-content: center;
}

.slogan {
  margin-inline: auto;
  max-width: 768px;
  text-align: center;
}

.action {
  margin-block-start: 2rem;
  text-align: center;
}

.features {
  margin-block-start: 2rem;
  margin-inline: auto;
  max-width: 768px;
  text-align: center;
}
