.footer {
  padding: 1rem;
  border-top: 1px solid var(--base-500);
  background-color: var(--base-700);
}

.footerContent {
  margin-inline: auto;
  max-width: var(--max-width);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
